<div class="container mt-5">
    <h1 class="text-center">Lista de libros</h1>
    <div class="row mt-4">
        <div id="bibliotecas">
            <h2>Libros</h2>
            <div class="row mt-4">
                <div class="col-md-4 mb-3">
                    <label class="fw-bold" for="bibliotecaSelect">Filtrar por biblioteca</label>
                    <select class="form-control" id="bibliotecaSelect" [(ngModel)]="bibliotecaSeleccionada" (change)="filtrarLibros()" >
                        <option value="0" >Todas las bibliotecas</option>
                        <option *ngFor="let biblioteca of bibliotecasList" [value]="biblioteca.id">{{ biblioteca.nombre }}</option>
                    </select>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Páginas</th>
                        <th>Autor</th>
                        <th>Biblioteca</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody class="tabla-Libros"  cdkDropList [cdkDropListData]="librosFiltrados" [cdkDropListConnectedTo]="['drop']" id="grap">
                    <tr *ngFor="let libro of librosFiltrados" cdkDrag>
                        <td>{{ libro.titulo }}</td>
                        <td>{{ libro.paginas }}</td>
                        <td>{{ libro.autor }}</td>
                        <td>{{ bibliotecasList.at(libro.biblioteca_id - 1)?.nombre }}</td>
                        <td><button class="btn btn-warning ms-2" [routerLink]="['/modificarLibros/', libro.id]">Editar</button><button (click)="eliminarLibro(libro)" class="btn btn-danger ms-2">Borrar</button></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
    <div class="row mt-4">
        <div id="favoritos">
            <h2>Libros favoritos</h2>
            <table class="table table-bordered" cdkDropList [cdkDropListData]="librosFavoritos" [cdkDropListConnectedTo]="['grap']" (cdkDropListDropped)="onDrop($event)" id="drop">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Páginas</th>
                        <th>Autor</th>
                        <th>Biblioteca</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let libro of librosFavoritos">
                        <td>{{ libro.titulo }}</td>
                        <td>{{ libro.paginas }}</td>
                        <td>{{ libro.autor }}</td>
                        <td>{{ bibliotecasList.at(libro.biblioteca_id - 1)?.nombre }}</td>
                        <td>
                            <button (click)="eliminarDeFavoritos(libro)" class="btn btn-danger ms-2">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>