<div class="container mt-5">
    <h1 class="text-center">Lista de bibliotecas</h1>
    <div class="row mt-4">
        <div id="bibliotecas">
            <h2>Bibliotecas</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Biblioteca</th>
                        <th>Coordenadas</th>
                        <th>Nº Libros</th>
                    </tr>
                </thead>
                <tbody id="tabla-Bibliotecas">
                    <tr *ngFor="let biblioteca of bibliotecasList">
                        <td>{{ biblioteca.nombre }}</td>
                        <td>Lat: {{ biblioteca.coordenadas.lat }}, Lon: {{ biblioteca.coordenadas.lon }} <button class="btn btn-warning ms-2" [routerLink]="['/mapaBiblioteca/', biblioteca.id]">Ver mapa</button></td>
                        <td>{{ biblioteca.libros.length }}</td>
                    </tr>
            </table>
        </div>
    </div>
</div>